<div class="container">
    <form class="registration-form" #myform ="ngForm" (ngSubmit) = "onSubmit(myform)" >
        <h2>Register</h2>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required ngModel>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required ngModel>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required ngModel>
        </div>
        <button type="submit" value = "Send">Register</button>
    </form>
</div>